name: Example

on:
  pull_request:
  push:
    branches: main

permissions:
  contents: read

jobs:
  slow-job:
    runs-on: ubuntu-latest
    steps:
      - run: sleep 120

  success-job:
    runs-on: ubuntu-latest
    steps:
      - run: echo "Success"


  ignored-job:
    runs-on: ubuntu-latest
    steps:
      - run: echo "Ignored"

  example:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ./
        with:
          statuses: |
            slow-job
            success-job

  example-brief:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ./
        with:
          format: brief
          statuses: |
            slow-job
            success-job

  # This is not useful to run all the time and fail every PR, but can be
  # uncommented to check the failing case ad-hoc.
  # failing-job:
  #   runs-on: ubuntu-latest
  #   steps:
  #     - run: |
  #         echo "Failure"
  #         exit 1

  # failing-example:
  #   runs-on: ubuntu-latest
  #   steps:
  #     - uses: actions/checkout@v4
  #     - id: await
  #       uses: ./
  #       with:
  #         statuses: |
  #           slow-job
  #           success-job
  #           failing-job
  #     - if: ${{ failure() }}
  #       run: |
  #         echo '${{ steps.await.outputs.pending-statuses }}'
  #         echo '${{ steps.await.outputs.succeeded-statuses }}'
  #         echo '${{ steps.await.outputs.failed-statuses }}'
